<!DOCTYPE html>
<html>
<head>
  <title>EndlessPageExample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:header_js) %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar main-navbar navbar-fixed-top">
    <ul>
      <li><%= link_to("回到首頁", root_path) %></li>
    </ul>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
